 html {
    height: 100%;
    margin-top: 0px;

 }

 body {
    height: 100%;
    width: 100%;
    margin: auto;
    font-family: 'Asar', serif;
    text-align: center;
    font-size: 3em;
    margin-top: 0px;
}

.header {
    display: inline;
    height: 25%;
    background-color: #dab3ff;
    margin-top: 0px;
}

.title {
    margin-top: 0;
    font-size: 3em;
    background-color: #ba91d2;
}

#new-search {
    display: none;
    margin-bottom: -4em;
}

.search {
    height: 2em;
    width: 5em;
    font-family: sans-serif;
    font-size: 1em;
    border-radius: 5px;
    margin-top: 2em
}

.main {
    height: 75%;
}

#search-box-container {
    display: none;
    margin-top: 5em;
    font-family: sans-serif;
}


#instructions {
    margin-bottom: 3em;
}

#search-box {
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    margin: auto;
}

#submit {
    height: 2em;
    width: 5em;
    background-color: #d5dfef;
    border-radius: 3px;
    font-family: sans-serif;
    box-shadow: blue;
}

 #results {
    display: inline-block;
    list-style-type: none;
    text-align: left;
    height: 75%;
    margin-left: 3em;
    margin-right: 3em;
}

.book-title {
    box-shadow: 10px 10px 5px #888888;
    text-align: center;
    margin-top: 1em;
    font-size: 2em;
    background-color: #8664c2;
    border-radius: 3px;
}

li {
    text-align: left;
    margin-top: 1em;
}

@media screen and (max-width: 600px) {
    body {
        font-size: 1.5em;
    }
    #instructions {
        font-size: 2em;
    }
    .teaser {
        font-size: 1.5em;
    }
} 