 html {
    height: 100%;
    margin-top: 0px;

 }

 body {
    height: 100%;
    width: 100%;
    margin: auto;
    font-family: 'Asar', serif;
    text-align: center;
    font-size: 3em;
    
    margin-top: 0px;
}

.header {
    display: inline;
    height: 25%;
    background-color: #dab3ff;
    margin-top: 0px;
}

.title {
    margin-top: 0;
    font-size: 5em;
    background-color: #dab3ff;
}

#new-search {
    display: none;
    margin-bottom: -4em;
}

.search {
    height: 2em;
    width: 5em;
    font-size: 1em;
    border-radius: 5px;
    margin-top: 6em
}

.main {
    height: 75%;
}

#search-box-container {
    display: none;
    margin-top: 5em;
}


#instructions {
    margin-bottom: 3em;
}
#search-box {
    width: 250px;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    margin: auto;
}

#submit {
    height: 50px;
    width: 125px;
    border-radius: 3px;
   
}


 #results {
    display: inline-block;
    list-style-type: none;
    text-align: left;
    height: 75%;
    margin-left: 3em;
    margin-right: 3em;

}

.book-title {
    box-shadow: 2px 2px 4px #999;
    text-align: center;
    margin-top: 1em;
    font-size: 2em;
    background-color: #e1e1ea;
}
li {
    text-align: left;
    margin-top: 1em;
}